.principal {
    background-image: url(img/planodeFundo.jpg);
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.caixa {
    align-items: center;
}

body {
    background-image: url(img/planodeFundo.jpg);
}