
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container__principal {
    background-image: url("img/planodeFundo.jpg");
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

strong {
    font-weight: bold;
    color: red
}

.botao {
    display:block;
    padding: 1em;
    background-color: rgb(97, 97, 228); 
    color: aliceblue;

