body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container__principal {
    background-image: url("img/planodeFundo.jpg");
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

strong {
    font-weight: bold;
    color: red
}

.botao {
    display: block;
    padding: 1em;
    background-color: rgb(97, 97, 228);
    color: aliceblue;
    text-align: center;
}

.container__caixa {
    align-items: center;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid;
    display: block;
    padding: 1em;
}